@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap");

:root {
  --color: #333;
  --warna: rgb(17, 33, 84);
  --warna-dua: rgb(0, 10, 69);
}

body {
  font-family: "Red Hat Text", sans-serif;
}

/* Navbar */
.dropdown:hover {
  background-color: var(--warna);
}

li a.dropdown-item {
  color: white;
}
li a.dropdown-item:hover {
  background-color: var(--warna-dua);
}
.nav-link.satu:hover {
  background-color: var(--warna);
  border-radius: 5px;
}
.nav-link.dua:hover {
  background-color: var(--warna);
}
.nav-link.tiga:hover {
  background-color: var(--warna);
}

.Tulisan-Ukm {
  text-align: center;
  margin-top: -3.2rem;
  margin-left: 1em;
}
/* end navbar */

/* Tombol Home */
.btn1 {
  z-index: 10;
}
/* end */

.header-top {
  height: 60px;
  padding-bottom: 10px;
  background-color: rgb(17, 33, 84);
}

.header {
  height: 600px;
  background-image: url(asset/IMG_2822.png);
  background-position: bottom;
  position: relative;
  background-size: cover;
}

.navbar-nav:hover {
  color: rgb(255, 0, 0);
  font-size: large;
}

h3 {
  font-weight: bold;
  color: green;
}

/* Welcome Section */
.welcome-top {
  margin-top: 13rem;
  font-weight: bolder;
}

.welcome-top h5 {
  margin-top: -10px;
}

/* text sliding */
div.textToSlide--container {
  white-space: no-wrap;
  overflow: hidden;
  border: 1px solid rgb(74, 74, 74);
  background-color: rgb(17, 33, 84);
  padding: 3px;
  color: white;
}
div.textToSlide--container > div.textToSlide {
  white-space: nowrap;
  display: inline;
  width: auto;
}

/* container */
.container {
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
  background-size: cover;
  background-position: center;
  /*  this is where the magic happens:  */
  background-attachment: fixed;
}

.container2 {
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(asset/reeditMountain.png);
  background-size: cover;
  background-position: center;
  /*  this is where the magic happens:  */
  background-attachment: fixed;
}

.text-sejarah {
  margin-top: -25rem;
}
.sejarah-p {
  margin-top: -15px;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

a {
  display: inline-block;
  padding: 1em 3.5em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 0.875rem;
}

.blank,
.other {
  width: 100%;
  min-height: 60vh;
}

.transisiTod {
  width: 100%;
  min-height: 0vh;
}

.transisi3 {
  width: 100%;
  min-height: 45vh;
}

.second {
  background-image: url(https://images.unsplash.com/photo-1514496959998-c01c40915c5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-attachment: fixed;
  height: 1200px;
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}

/* Galeri */
.slider,
.slider > div {
  /* Images default to Center Center. Maybe try 'center top'? */
  background-position: center center;
  display: block;
  width: 100%;
  height: 500px;
  /* height: 100vh; */ /* If you want fullscreen */
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  overflow: hidden;
  -moz-transition: transform 0.4s;
  -o-transition: transform 0.4s;
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
}

.slider > div {
  position: absolute;
}

.slider > i {
  color: #5bbd72;
  position: absolute;
  font-size: 60px;
  margin: 20px;
  top: 40%;
  text-shadow: 0 10px 2px #223422;
  transition: 0.3s;
  width: 30px;
  padding: 10px 13px;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  line-height: 0;
  box-sizing: content-box;
  border-radius: 3px;
  z-index: 4;
}

.slider > i svg {
  margin-top: 3px;
}

.slider > .left {
  left: -100px;
}
.slider > .right {
  right: -100px;
}
.slider:hover > .left {
  left: 0;
}
.slider:hover > .right {
  right: 0;
}

.slider > i:hover {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  transform: translateX(-2px);
}

.slider > i.right:hover {
  transform: translateX(2px);
}

.slider > i.right:active,
.slider > i.left:active {
  transform: translateY(1px);
}

.slider:hover > div {
  transform: scale(1.01);
}

.hoverZoomOff:hover > div {
  transform: scale(1);
}

.slider > ul {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 4;
  padding: 0;
  margin: 0;
  transform: translateX(-50%);
}

.slider > ul > li {
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  list-style: none;
  float: left;
  margin: 10px 10px 0;
  cursor: pointer;
  border: 1px solid #fff;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider > ul > .showli {
  background-color: #7ec03d;
  -moz-animation: boing 0.5s forwards;
  -o-animation: boing 0.5s forwards;
  -webkit-animation: boing 0.5s forwards;
  animation: boing 0.5s forwards;
}

.slider > ul > li:hover {
  background-color: #7ec03d;
}

.slider > .show {
  z-index: 1;
}

.hideDots > ul {
  display: none;
}

.showArrows > .left {
  left: 0;
}

.showArrows > .right {
  right: 0;
}

.titleBar {
  z-index: 2;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translateY(100%);
  padding: 20px 30px;
  transition: 0.3s;
  color: #fff;
}

.titleBar * {
  transform: translate(-20px, 30px);
  transition: all 700ms cubic-bezier(0.37, 0.31, 0.2, 0.85) 200ms;
  opacity: 0;
}

.titleBarTop .titleBar * {
  transform: translate(-20px, -30px);
}

.slider:hover .titleBar,
.slider:hover .titleBar * {
  transform: translate(0);
  opacity: 1;
}

.titleBarTop .titleBar {
  top: 0;
  bottom: initial;
  transform: translateY(-100%);
}

.slider > div span {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: center;
  padding: 0;
  width: 100%;
}

@keyframes boing {
  0% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.6);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/* -------------------------------------- */

#slider2 {
  max-width: 30%;
  margin-right: 20px;
}

.row2Wrap {
  display: flex;
}

.content {
  padding: 50px;
  margin-bottom: 100px;
}

html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* end */

/* Bottom */
.dummy_page {
  height: 200px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0px;
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
